
faiss-cpu
groq
langchain-groq
PyPDF2
langchain_google_genai
langchain
streamlit
langchain_community
pypdf
streamlit_mic_recorder
google-cloud-aiplatform>=1.38
streamlit
langchain-groq
langchain-google-genai
pymupdf
pdfplumber
streamlit-mic-recorder
langchain
langchain-core
langchain-community
langdetect==1.0.9
sentence-transformers
scikit-learn 
chromadb
pysqlite3-binary
